





.todo-grid,.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 130px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}


.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.first-paragraph{
  font-size: 20px;
}

.todo-list{
 
  font-size: 14px;
  padding: 12px;
}
.todo-list::placeholder{
  padding-left: 6px;
}

.due-date{
  font-size: 14px;

}

.add-button{
  font-size: 18px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
   

}

.delete-button{
  background-color: rgb(134, 0, 0);
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}